:root {
  --green: #50bd92;
  --gray: #909090;
  --red: #bd5069;
  --green-transparent: #50bd9270;
  --gray-transparent: #90909050;
  --red-transparent: #bd506950;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root, .App {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  border-bottom: 3px solid var(--green);
  padding: 15px 30px;
  height: 70px;
  position: relative;
}

.header .title, .header .titleMobile {
  color: var(--green);
  font-size: 26px;
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

.header .logo {
  float: left;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.logo-container {
  float: left;
}

@media only screen and (max-width: 601px) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-for-desktop {
    display: none !important;;
  }
}

.todo-item {
  margin: 10px auto;
  display: flex;
}

.todo-btn {
  width: 40px;
}

.todo-content {
  width: 100%;
}

#todoContentField:focus {
  opacity: 1;
  border-color: var(--green);
  outline: none;
}

.todo-item .todo-btn, .todo-item .todo-content  {
  background: none;
  border-radius: 10px;
  padding:10px;
  font-size: 20px;
  color: var(--green);
  border-color: var(--gray-transparent);
  border-style: solid;
  transition: 0.4s;
  border-width: 2px;
  font-weight: bold;
  margin: 0;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
}

.todo-item .todo-btn:focus, .todo-item .todo-content:focus {
  outline: none;
}

.todo-btn {
  padding: 0 !important;
  min-width: 50px;
  margin: 0 15px 0 0 !important;
}

.todo-item-add .todo-btn, .todo-item-add .todo-content {
  border-color: var(--green-transparent);
}

.todo-btn:hover {
  color: white;
  transition: 0.4s;
}

.todo-add-btn:hover {
  background: var(--green-transparent);
}

.todo-del-btn:hover {
  background: var(--red-transparent);
}


/* Button Image */
.add-todo-icon, .del-todo-icon {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 0.7;
}


.add-todo-icon{
  background-image: url(./assets/images/cross-green.svg);
}

.del-todo-icon {
  background-image: url(./assets/images/cross-gray.svg);
  transform: rotate(45deg);
}

button:hover > .add-todo-icon, button:hover > .del-todo-icon {
  background-image: url(./assets/images/cross-white.svg);
}

section.main-content{
  margin: 50px auto;
  padding-bottom: 50px;
  width: 35%;
}

@media only screen and (max-width: 600px)  {
  section.main-content{
    width: 80%;
  }
  .todo-item .todo-content{
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  section.main-content{
    width: 60%;
  }
}

@media only screen and (max-width: 300px)  {
  .logo-container .logo{
    margin: auto;
    left: 0;
    right: 0;
  }
  .titleMobile {
    display: none !important;
  }
}


section.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  border-top: 1px solid var(--green);
  background-color: white;
}

section.footer p {
  margin: 2px 0;
  font-size: 12px;
  color: var(--green)
}